@media only screen and (max-width: 1200px) {
    .container {
        width: 95%;
    }
}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 640px) {

}

@media only screen and (max-width: 480px) {
    .bullets-container {
        width: 31px;
    }

    .bullet {
        height: 6px;
        width: 6px;
    }
}

@media only screen and (max-width: 320px) {

}