.move-up-section {
    height: 42px;
    background-color: var(--light-color);
}

.move-up__word {
    text-decoration: none;
    width: 99px;
    height: 24px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--dark-color);
}

.move-up-section__inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media only screen and (max-width: 480px) {
    .move-up-section__inner {
        justify-content: center;
    }

    .move-up__word {
        width: 69px;
    }
}