.our-projects-secton {
    height: 600px;
    background: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0) 100%);
}

.our-projects__centrify {
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-projects__inner-container {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.our_projects__heading {
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.our_projects__heading__text {
    max-width: 333.5px;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}

.our-projects__projects-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 300px;
}

.project__container {
    height: 282px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.project__name {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    color: var(--dark-color);
}

.project-img__transparent-bg {
    position: absolute;
    top: 5px;
    display: none;
}

.project-img__explore-icons {
    position: absolute;
    top: 100px;
    cursor: pointer;
    display: none;
}

.project__container:hover .project-img__transparent-bg,
.project__container:hover .project-img__explore-icons{
    display: block;
}
