@media only screen and (max-width: 1024px) {
    .quote-block__quote {
        font-size: 32px;
    }

    .quote-block__quote__author {
        font-size: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .quote-block__quote {
        font-size: 24px;
    }

    .owl-theme .owl-controls .owl-page span {
        height: 6px;
        width: 6px;
    }
}
