.quote-section {
    height: 530px;
}

.quote-section__inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.quote-section__quote-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 380px;
}

.fa-quote-right {
    font-size: 34px;
    color: var(--dark-color);
}

.quote-block__quote {
    max-width: 988px;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: var(--black);
}

.quote-block__quote__digi-word {
    color: var(--dark-color);
    font-weight: bold;
}

.quote-block__quote__author {
    height: 28px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: var(--black);
}

/*bullets*/
.quote-section .owl-theme .owl-controls .owl-page span {
    border-radius: 50%;
    background-color: var(--dark-color);
    opacity: 1;
}

.quote-section .owl-theme .owl-controls .active span{
    background-color: transparent;
    border: 1px solid var(--dark-color);
}

.quote-section .owl-theme .owl-controls .owl-page:hover span{
    background-color: transparent;
    border: 1px solid var(--dark-color);
}