@media only screen and (max-width: 1300px) {
    .services-section {
        height: 912px;
    }

    .services__inner-container {
        flex-direction: column;
        justify-content: space-between;
        max-width: 940px;
        text-align: center;
    }

    .services__general-info {
        max-width: 100%;
        margin-right: 0;
        padding-left: 0;
    }

    .services__heading {
        margin-top: 35px;
    }

    .services_line {
        margin: 0 auto 30px auto;
    }

    .services__text {
        max-width: 100%;
    }

    .service-items {
        margin: 0 auto;
        max-width: 849px;
    }
}

@media only screen and (max-width: 850px) {
    .services-section {
        height: 1474px;
    }

    .services__heading {
        margin: 27px 0 19px 0;
    }

    .services__inner-container {
        justify-content: flex-start;
    }

    .services__general-info {
        height: 300px;
    }

    .service-item {
        height: 288px;
        width: 50%;
    }
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 640px) {

}

@media only screen and (max-width: 480px) {
    .services-section {
        height: 2728px;
    }

    .services__inner-container {
        padding: 10%;
    }

    .services__general-info {
        margin-bottom: 10px;
        height: 350px;
    }

    .service-item {
        height: 288px;
        width: 90%;
    }

    .service-items {
        justify-content: center;
    }

    .services__description {
        font-size: 20px;
    }

    .services__text {
        font-size: 15px;
    }


}

@media only screen and (max-width: 320px) {

}