.services-section {
    height: 546px;
}

.services__inner-container {
    width: 1278px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    padding: 15px 0 15px 0;
}

.services__general-info {
    height: 399px;
    width: 360px;
    display: flex;
    flex-direction: column;
    margin-right: 79px;
}

.services__heading {
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    color: var(--dark-color);
    margin: 90px 0 60px 0;
}

.services__description {
    color: var(--black);
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
}

.services_line {
    margin-bottom: 30px;
}

.services__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    color: #797979;
    width: 351px;
    height: 68px;
}

/*items below*/
.service-items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 505px;
}

.service-item {
    border: 4px solid #ffffff;
    width: 212px;
    height: 255px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
}

.service-item__heading {
    color: var(--black);
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-bottom: 20px;
}

.service-item:hover {
    border-color: var(--dark-color);
}

.service-item:hover .service-item__description {
    display: block;
    margin-bottom: 20px;
}

.service-item:hover .service-item__details {
    display: block;
}

.service-item__description {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: var(--gray);
    text-align: center;
    display: none;
}

.service-item__logo {
    margin-bottom: 20px;
}

.service-item__details {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    color: var(--dark-color);
    display: none;
}
