.team-section {
    height: 580px;
}

.team-section__inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team-section__right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 100px;
    height: 415px;
}

.team-section__heading {
    font-size: 48px;
    font-weight: normal;
    line-height: 56px;
    color: var(--dark-color);
}

.team-section__desctiption {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--gray);
    max-width: 573px;
}

.team-section__button {
    width: 230px;
    height: 60px;
    font-size: 18px;
    line-height: 18px;
    color: var(--light-color);
    background: var(--dark-color);
    border-radius: 3px;
    border-style: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.team-section__button:hover {
    color: var(--dark-color);
    background: var(--light-color);
    border: 2px solid var(--dark-color);
}

