@media only screen and (max-width: 1439px) {

}

@media only screen and (max-width: 1023px) {
    .top-block-footer__info {
        width: 422px;
    }
}

@media only screen and (max-width: 767px) {
    /*.top-block-footer {*/
    /*    height: 222px;*/
    /*}*/

    .top-block-footer__container {
        flex-direction: column;
        justify-content: space-around;
    }

    .top-block-footer_text-container {
        align-items: center;
    }

    .top-block-footer__info {
        width: 494px;
        text-align: center;
    }
}

@media only screen and (max-width: 639px) {
    .top-block-footer {
        height: 301px;
    }

    /*.top-block-footer__container {*/
    /*    flex-direction: column;*/
    /*    justify-content: space-around;*/
    /*}*/

    .top-block-footer_text-container {
        height: 111px;
        width: 274px;
    }

    .top-block-footer__heading {
        width: 216px;
        text-align: center;
    }

    .top-block-footer__info {
        width: 273px;
    }
}