@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 768px) {
    .top-block-footer__info {
        max-width: 422px;
    }
}

@media only screen and (max-width: 640px) {
    .top-block-footer__container {
        flex-direction: column;
        justify-content: space-around;
    }

    .top-block-footer_text-container {
        align-items: center;
    }

    .top-block-footer__info {
        max-width: 494px;
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {
    .top-block-footer {
        height: 301px;
    }

    .top-block-footer_text-container {
        height: 111px;
        max-width: 274px;
    }

    .top-block-footer__heading {
        max-width: 216px;
        text-align: center;
    }

    .top-block-footer__info {
        max-width: 273px;
    }
}

@media only screen and (max-width: 320px) {

}