.top-block-footer {
    color: #ffffff;
    height: 192px;
    background-color: var(--dark-color);
}

.top-block-footer__btn {
    width: 200px;
    height: 50px;
    font-family: Roboto, sans-serif;
    color: var(--dark-color);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    background: var(--light-color);
    border-radius: 3px;
}

.top-block-footer_left {
    width: 400px;
}

.top-block-footer__heading {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}