.top-block-slider {
    position: relative;
    height: 668px;
    background: url("../../images/transparent-bg.svg"), url("../../images/bg-img.jpg");
    background-size: cover;
}

.centered {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.together {
    margin-top: 50px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.top-block__slider__heading {
    margin: 0;
    width: 609px;
    font-size: 96px;
    color: #FFFFFF;
    text-align: center;

    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.top-block__slider__description {
    width: 886px;
    height: 60px;
    font-size: 24px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: center;

    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.top-block__slider__details-btn {
    width: 200px;
    height: 50px;
    font-size: 18px;
    line-height: 18px;
    color: var(--light-color);
    background: var(--dark-color);
    border-radius: 3px;
    border-style: none;
    cursor: pointer;
}


/*bullets*/
.top-slider-bullet {
    background-color: #FFFFFF;
}

.top-slider-bullet:hover {
    background-color: transparent;
    border: 2px solid white;
}



.slider-switchers {
    position: absolute;
    top: 0;
    right: 0;

    width: 70px;

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.arrow-container {
    background-color: var(--dark-color);
    height: 70px;
    cursor: pointer;

    display: flex;
    align-items: center;
}

.arrow {
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 7px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.padding1 {
    padding: 40%;
}

.padding2 {
    padding: 30%;
}

.arrow-container:hover {
    background-color: #F9F6E5;
}

.arrow-container:hover .arrow {
    border-color: #8c8989;
}