.top-block__slider {
    height: 668px;
    background: url("../../images/transparent-bg.svg"), url("../../images/bg-img.jpg");
    background-size: cover;
}

.top-block__slider__heading {
    margin: 0;
    width: 513px;
    height: 192px;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-align: center;
}

.top-block__slider__description {
    width: 886px;
    height: 60px;
    font-size: 24px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: center;
}

.top-block__slider__details-btn {
    width: 200px;
    height: 50px;
    font-size: 18px;
    line-height: 18px;
    color: var(--light-color);
    background: var(--dark-color);
    border-radius: 3px;
    border-style: none;
    cursor: pointer;
}

.top-slider__bullets {
    position: absolute;
    width: 50px;
    height: 12px;
    left: 695px;
    top: 578px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 3;
}

.slider-bullet {
    height: 10px;
    width: 10px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.slider-bullet:hover {
    background-color: transparent;
    border: 2px solid white;
}


.slider-switchers {
    position: absolute;
    height: 100%;
    right: 0;
    width: 70px;
    z-index: 3;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.arrow-container {
    background-color: var(--dark-color);
    height: 70px;
    cursor: pointer;

    display: flex;
    align-items: center;
}

.arrow {
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 7px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.padding1 {
    padding: 40%;
}

.padding2 {
    padding: 30%;
}

.arrow-container:hover {
    background-color: #F9F6E5;
}

.arrow-container:hover .arrow {
    border-color: #8c8989;
}